* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Montserrat', sans-serif; color: #333; line-height: 1.6; scroll-behavior: smooth; }

header { 
    height: 80vh; 
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/foto1.jpg') no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
}

nav { display: flex; justify-content: space-between; padding: 20px 50px; background: rgba(0,0,0,0.3); }
nav ul { display: flex; list-style: none; }
nav ul li a { color: white; text-decoration: none; margin-left: 20px; font-weight: bold; }

.hero { flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; }
.hero h1 { font-size: 3.5rem; margin-bottom: 10px; }
.hero p { font-size: 1.5rem; margin-bottom: 30px; }

.btn { padding: 15px 30px; background: #8b5a2b; color: white; text-decoration: none; border-radius: 5px; font-weight: bold; transition: 0.3s; }
.btn:hover { background: #6d4621; }

.specs { padding: 80px 50px; background: #f9f9f9; text-align: center; }
.grid-specs { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 20px; margin-top: 40px; }
.item { padding: 20px; border: 1px solid #ddd; background: white; border-radius: 8px; }

.gallery { padding: 80px 50px; }
.grid-gallery { display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 15px; }
.grid-gallery img { width: 100%; height: 250px; object-fit: cover; border-radius: 5px; transition: 0.3s; cursor: pointer; }
.grid-gallery img:hover { transform: scale(1.05); }

footer { padding: 80px 50px; background: #2c3e50; color: white; text-align: center; }
.btn-contact { display: inline-block; margin-top: 20px; padding: 15px 30px; background: #27ae60; color: white; text-decoration: none; border-radius: 5px; }

/* Estilos para los videos */
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.video-item {
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.video-item video {
    width: 100%; /* El video ocupa todo el ancho de su caja */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.video-item p {
    margin-top: 10px;
    font-weight: bold;
    color: #606c38;
}


@media (max-width: 768px) {
    .hero h1 { font-size: 2.2rem; }
    nav { padding: 20px; }
}
